<!DOCTYPE html>

<html>

  <head>
    <title>Form</title>
  </head>

  <body bgcolor="FFD1DC"><center>

    <h1>{{result}}</h1>
    <br>
    <b>{{currentUser}}</b>
    <br>
    
      <form action="/authenticate/" method="POST">

	<br>
	<b>Username: </b>
	<input type="text" name="user">
	<br><br>
	<b>Password: </b>
	<input type="password" name="password">
	<br><br><br>
	<input type="submit" name="s" value="Register">
	<input type="submit" name="s" value="Login">
	<input type="submit" name="s" value="Logout">
	
    </center></form>

  </body>

</html>
